@import "tailwindcss";

input {
  @apply focus:outline-none;
}

input[type]::-webkit-calendar-picker-indicator {
  @apply hidden;
}

input[type] {
  @apply flex justify-start;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #007595;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #007595;
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

@keyframes shkeit {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-4px);
  }
  40%,
  80% {
    transform: translateX(4px);
  }
}

.shkeit {
  animation: shkeit 0.4s ease-in-out;
}

.afull {
  @apply h-full w-full;
}

.flexctr {
  @apply flex place-content-center items-center justify-center;
}

.flexbtw {
  @apply flex place-content-center items-center justify-between;
}

.flexstr {
  @apply flex place-content-center items-center justify-start;
}

.flexend {
  @apply flex place-content-center items-center justify-end;
}

.flexend {
  @apply flex place-content-center items-center justify-end;
}

.ctable {
  @apply h-full max-h-fit w-full overflow-auto rounded-xl ring-2 ring-gray-300;
}

table {
  @apply w-full;
}

thead {
  @apply sticky top-0 z-20 text-white;
}

th {
  @apply bg-cyan-600 px-2 py-1.5 whitespace-nowrap ring-4 ring-cyan-600;
}

td {
  @apply border-t border-gray-200 px-3 py-1.5 whitespace-nowrap;
}

tbody {
  @apply text-gray-600;
}

.btnsbm {
  @apply cursor-pointer rounded-lg bg-cyan-600 px-1.5 leading-5 font-semibold text-white shadow-slate-400 duration-300 hover:-translate-y-1/12 hover:bg-cyan-500 hover:shadow-md;
}

.btnstb {
  @apply cursor-pointer rounded-lg bg-white px-1.5 leading-5 font-semibold text-gray-600 ring-2 shadow-slate-400 ring-gray-200 duration-300 hover:-translate-y-1/12 hover:bg-gray-100 hover:shadow-md;
}

.btnscs {
  @apply cursor-pointer rounded-lg bg-green-600 px-1.5 leading-5 font-semibold text-white shadow-slate-400 duration-300 hover:-translate-y-1/12 hover:bg-green-500 hover:shadow-md;
}

.btnwrn {
  @apply cursor-pointer rounded-lg bg-orange-600 px-1.5 leading-5 font-semibold text-white shadow-slate-400 duration-300 hover:-translate-y-1/12 hover:bg-orange-500 hover:shadow-md;
}

.btnoff {
  @apply cursor-pointer rounded-lg bg-slate-300 px-1.5 leading-5 font-semibold text-white shadow-slate-400 duration-300;
}

.btncxl {
  @apply cursor-pointer rounded-lg bg-red-600 px-1.5 leading-5 font-semibold text-white shadow-slate-400 duration-300 hover:-translate-y-1/12 hover:bg-red-500 hover:shadow-md;
}
